html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
*{
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  line-height: unset;
  box-sizing: border-box;
}

.showAllWord {
  position: relative;
}
#showAllWord {
  color: #444;
  font-size: 14px;
  background: rgba(12, 123, 162, 0.55);
}
